<div class="examples">
    <div class="examples-controls">
        <h3> Controls selection</h3>
      {{controls-selection
        selectionState=selectionState
        checkboxState=checkboxState
        onChange=(action 'changeSelection')
        onRender=(action 'renderDemo')
      }}
    </div>
  <hr/>

    <div class="examples-demo">
        <h3> Demo</h3>
        {{#if renderDemo}}
          {{#if (eq computedTemplateCase 'case1')}}
            {{frost-list
              config=listMixinConfig
            }}
          {{/if}}
          {{#if (eq computedTemplateCase 'case2')}}
            {{frost-list
              items=sortedItems
              onSelect=(action 'selectItem')
              item=(component componentPath
                onCollapse=(action 'collapseItem')
                onExpand=(action 'expandItem')
              )
              expansion=(component 'frost-list-expansion'
                onCollapseAll=(action 'collapseItems')
                onExpandAll=(action 'expandItems')
              )
              sorting=(component 'frost-sort'
                sortOrder=activeSorting
                properties=sortableProperties
                onChange=(action 'sortItems')
              )
            }}
          {{/if}}
          {{#if (eq computedTemplateCase 'case3')}}
            {{frost-list
              items=statefulListItems
              onSelect=(action 'selectItem')
              item=(component componentPath
                onCollapse=(action 'collapseItem')
                onExpand=(action 'expandItem')
              )
              expansion=(component 'frost-list-expansion'
                onCollapseAll=(action 'collapseItems')
                onExpandAll=(action 'expandItems')
              )
            }}
          {{/if}}
          {{#if (eq computedTemplateCase 'case4')}}
            {{frost-list
              items=sortedItems
              onSelect=(action 'selectItem')
              item=(component componentPath
                onCollapse=(action 'collapseItem')
                onExpand=(action 'expandItem')
              )
              sorting=(component 'frost-sort'
                sortOrder=activeSorting
                properties=sortableProperties
                onChange=(action 'sortItems')
              )
            }}
          {{/if}}
          {{#if (eq computedTemplateCase 'case5')}}
            {{frost-list
              items=statefulListItems
              onSelect=(action 'selectItem')
              item=(component componentPath
                onCollapse=(action 'collapseItem')
                onExpand=(action 'expandItem')
              )
            }}
          {{/if}}
          {{#if (eq computedTemplateCase 'case6')}}
            {{frost-list
              items=sortedItems
              onSelect=(action 'selectItem')
              item=(component componentPath
                onCollapse=(action 'collapseItem')
                onExpand=(action 'expandItem')
              )
              expansion=(component 'frost-list-expansion'
                onCollapseAll=(action 'collapseItems')
                onExpandAll=(action 'expandItems')
              )
              sorting=(component 'frost-sort'
                sortOrder=activeSorting
                properties=sortableProperties
                onChange=(action 'sortItems')
              )
            }}
          {{/if}}
        {{/if}}
    </div>

    <hr/>
    <div class="examples-source">
        <div class="header">
            <h3>Source</h3>
        </div>

        <div class="content">
            <div class="examples-source-controller">
                <div>Controller</div>
              {{#if renderDemo}}
                {{#if __useMixin}}
                  {{#if __dataDriven}}
                    {{code-snippet name="controller-use-mixin.js"}}
                  {{else}}
                    {{#if __sorting}}
                      {{code-snippet name="controller-use-mixin-no-config.js"}}
                    {{else}}
                      {{code-snippet name="controller-use-mixin-no-sorting.js"}}
                    {{/if}}
                  {{/if}}
                {{else}}
                  {{code-snippet name="controller-no-mixin.js"}}
                {{/if}}
              {{/if}}
            </div>

            <div class="examples-source-template">
                <div>Template</div>
              {{#if renderDemo}}
                {{#if (eq computedTemplateCase 'case1')}}
                  {{code-snippet name="case1.hbs"}}
                {{/if}}
                {{#if (eq computedTemplateCase 'case2')}}
                  {{code-snippet name="case2.hbs"}}
                {{/if}}
                {{#if (eq computedTemplateCase 'case3')}}
                  {{code-snippet name="case3.hbs"}}
                {{/if}}
                {{#if (eq computedTemplateCase 'case4')}}
                  {{code-snippet name="case4.hbs"}}
                {{/if}}
                {{#if (eq computedTemplateCase 'case5')}}
                  {{code-snippet name="case5.hbs"}}
                {{/if}}
                {{#if (eq computedTemplateCase 'case6')}}
                  {{code-snippet name="case6.hbs"}}
                {{/if}}
              {{/if}}
            </div>
          {{!--
               <div class="examples-source-route">
               </div>
          --}}
        </div>
    </div>
</div>