<div class="border-top"></div>
{{#frost-scroll on-scroll-y-end=on-scroll-y-end}}
    <div class="records">
		{{#each mappedRecords as |record index|}}
			{{#if (eq record.record-type "NC")}}
				{{frost-list-node model=record}}
			{{else if (eq record.record-type "SERVICE")}}
				{{frost-list-service model=record}}
			{{else}}
				{{yield record index}}
			{{/if}}
		{{/each}}
	</div>
{{/frost-scroll}}
<div class="border-bottom"></div>