<div class='select-checkbox'>
    {{frost-list-selection-indicator isSelected=isSelected}}
</div>
<div class='icon'>
	{{frost-svg path='frost/service'}}
</div>
<div class='block alias frost-flex-2'>
    <div class='primary alias'>{{record.alias}}</div>
    <div class='tertiary status'>Normal</div>
</div>
<div class='block type frost-flex-1'>
    <div class='secondary type'>{{record.meta.rate}} {{record.meta.type}}</div>
    <div class='tertiary wavelength'>{{record.meta.wavelength}}</div>
</div>
<div class='block connection frost-flex-2'>
	{{#if record.meta.bidirectional}}
		<div class='tertiary segment'>
			<div>{{record.meta.source}}</div>
            <div>{{frost-svg class='line' path='frost/line'}}</div>
            <div>{{record.meta.destination}}</div>
		</div>
	{{else}}
		<div class='tertiary segment'>
            <div>{{record.meta.source.rx}}</div>
            <div>{{frost-svg class='line' path='frost/line'}}</div>
            <div>{{record.meta.destination.rx}}</div>
		</div>
		<div class='tertiary segment'>
            <div>{{record.meta.source.tx}}</div>
            <div>{{frost-svg class='line' path='frost/line'}}</div>
            <div>{{record.meta.destination.tx}}</div>
		</div>
	{{/if}}
</div>
<div class='block end frost-flex-1'>
    <div class='secondary badge'>
		5
    </div>
    <div class='secondary'>
        <span class='label'>Last raised:</span>
		<b> {{moment-format model.last-raise-time 'YYYY-MM-DD HH:mm:ss' ''}} GMT</b>
    </div>
</div>
