<div style="margin: 30px">
    <div class="frost-list-demo-primitives">
        <div class="frost-list-demo-primitives-row">
            <div class="frost-flex-1 frost-list-demo-primitives-title frost-flex-row-item">
                Primary identifier
            </div>
            <div class="frost-flex-2 frost-flex-row-item">
              {{frost-list-item-primary-identifier value='123 Main st'}}
            </div>
            <div class="frost-flex-2 frost-list-demo-primitives-desc frost-flex-row-item">
                single line only, frost-font-s, weight:600, grey1
            </div>
        </div>

        <div class="frost-list-demo-primitives-row">
            <div class="frost-flex-1 frost-list-demo-primitives-title frost-flex-row-item">
                Secondary identifier
            </div>
            <div class="frost-flex-2 frost-flex-row-item">
              {{frost-list-item-secondary-identifier value='Ottawa, Ontario, Canada'}}
            </div>
            <div class="frost-flex-2 frost-list-demo-primitives-desc frost-flex-row-item">
                single line only, frost-font-xs, grey1
            </div>
        </div>

        <div class="frost-list-demo-primitives-row">
            <div class="frost-flex-1 frost-list-demo-primitives-title frost-flex-row-item">
                Unlabeled identifier
            </div>
            <div class="frost-flex-2 frost-flex-row-item">
              {{frost-list-item-unlabeled-property value='Ottawa, Ontario, Canada'}}
            </div>
            <div class="frost-flex-2 frost-list-demo-primitives-desc frost-flex-row-item">
                single line only, frost-font-xs, grey1
            </div>
        </div>

        <div class="frost-list-demo-primitives-row">
            <div class="frost-list-demo-primitives-row-column frost-flex-1">
                <div class="frost-list-demo-primitives-title">
                    Boolean
                </div>
                <div class="frost-list-demo-primitives-title">
                    Boolean
                </div>
            </div>
            <div class="frost-list-demo-primitives-row-column frost-flex-2">
              {{frost-list-item-boolean text='love bacon' value=true}}
              {{frost-list-item-boolean text='love bacon' value=false}}
            </div>
            <div class="frost-list-demo-primitives-row-column frost-flex-2">
                <div class="frost-list-demo-primitives-desc">
                    single line only, frost-font-xs, weight:700, grey4
                </div>
            </div>
        </div>

        <div class="frost-list-demo-primitives-row">
            <div class="frost-flex-1 frost-list-demo-primitives-title">
                Icon + text
            </div>
            <div class="frost-flex-2">
              {{frost-list-item-icon-text text='Ipsum' icon='round-add'}}
            </div>
            <div class="frost-flex-2 frost-list-demo-primitives-desc">
                single line only, frost-font-xs, grey1, text optional
            </div>
        </div>

        <div class="frost-list-demo-primitives-row">
            <div class="frost-list-demo-primitives-row-column frost-flex-1">
                <div class="frost-list-demo-primitives-title">
                    Primary state
                </div>
            </div>
            <div class="frost-list-demo-primitives-row-column frost-flex-2">
                <div>
                  {{frost-list-item-primary-state text='Bacon' state='critical'}}
                </div>
                <div>
                  {{frost-list-item-primary-state text='OOS' state='major'}}
                </div>
                <div>
                  {{frost-list-item-primary-state text='OOS' state='warn'}}
                </div>
                <div>
                  {{frost-list-item-primary-state text='IS'}}
                </div>
            </div>
            <div class="frost-list-demo-primitives-row-column frost-flex-2">
                <div class="frost-list-demo-primitives-desc">
                    <div>
                        single line only, Right aligned on the last column, border used only when state is abnormal, 15px tall
                    </div>
                    <div><font color="#E52C2C">Critical1</font> for most severe</div>
                    <div><font color="#EF8E00">Major1</font> for severe</div>
                    <div><font color="#7D85B2">Warn1</font> for less severe</div>
                </div>
            </div>
        </div>

        <div class="frost-list-demo-primitives-row">
            <div class="frost-flex-1 frost-list-demo-primitives-title frost-flex-row-item">
                Property in small view
            </div>
            <div class="frost-flex-2 frost-flex-row-item">
              {{frost-list-item-small-view data=smallViewData}}
            </div>
            <div class="frost-flex-2 frost-list-demo-primitives-desc frost-flex-row-item">
                <div>single line only, value does not need to align</div>
                <div>Label: frost-font-xs, weight: 700, grey4, max-width:45% of the div.</div>
                <div>Value: frost-font-xs grey1</div>
            </div>
        </div>

        <div class="frost-list-demo-primitives-row">
            <div class="frost-flex-1 frost-list-demo-primitives-title frost-flex-row-item">
                Large icons with test
            </div>
            <div class="frost-flex-2 frost-flex-row-item">
              {{frost-list-item-large-icon-text text='Ipsum' icon='round-add'}}
            </div>
            <div class="frost-flex-2 frost-list-demo-primitives-desc frost-flex-row-item">
                span two lines, frost-font-xs, grey1
            </div>
        </div>

        <div class="frost-list-demo-primitives-row">
            <div class="frost-flex-1 frost-list-demo-primitives-title frost-flex-row-item">
                Dates
            </div>
            <div class="frost-flex-2 frost-flex-row-item">
              {{frost-list-item-date date='2016-11-24 01:32:13 GMT'}}
            </div>
            <div class="frost-flex-2 frost-list-demo-primitives-desc frost-flex-row-item">
                single line only, frost-font-xs, grey5, grey1
            </div>
        </div>

        <div class="frost-list-demo-primitives-row">
            <div class="frost-flex-1 frost-list-demo-primitives-title frost-flex-row-item">
                Badge count
            </div>
            <div class="frost-flex-2 frost-flex-row-item">
              {{frost-list-item-badge-count count=888}}
            </div>
            <div class="frost-flex-2 frost-list-demo-primitives-desc frost-flex-row-item">
                single line only, background-color: grey5, white text, weight: 700, font_xs, 15px tall, 2px coner
            </div>
        </div>

    </div>

</div>
