{{! Template for the frost-list component }}
<div class='frost-list-header {{if pagination 'paged'}}'>
  {{#if sorting}}
    {{component sorting
      hook=(concat hookPrefix '-sorting')
    }}
  {{/if}}

  <div class='frost-list-header-end'>
    {{#if pagination}}
      {{component pagination
        hook=(concat hookPrefix '-pagination')
      }}
    {{/if}}

    {{#if (and pagination itemExpansion)}}
      <div class='frost-list-header-divider'></div>
    {{/if}}

    {{#if itemExpansion}}
      {{frost-list-expansion
        hook=(concat hookPrefix '-expansion')
        onCollapseAll=(action '_collapseAll')
        onExpandAll=(action '_expandAll')
      }}
    {{/if}}
  </div>
</div>

<div class='frost-list-content-container-top-border {{if pagination 'paged'}}'></div>
{{#frost-list-content-container
  alwaysRemeasure=alwaysRemeasure
  alwaysUseDefaultHeight=alwaysUseDefaultHeight
  bufferSize=bufferSize
  minHeight=minHeight
  hook=(concat hookPrefix '-contentContainer')
  items=_items
  pagination=pagination
  scrollTop=scrollTop
  onLoadNext=onLoadNext
  onLoadPrevious=onLoadPrevious
  debug=debug
  as |model index heightDidChange|
}}
  <div class={{concat
      'frost-list-item-container'
      (if (eq index 0) ' first')
      (if (eq index (sub _items.length 1)) ' last')
      (if model.isSelected ' is-selected')
    }}
    data-test={{hook (concat hook '-item-container') index=index }}
  >
    <div class='frost-list-item-container-base'>
      {{#if itemExpansion}}
        {{frost-list-item-expansion
          hook=(concat hookPrefix '-expansion')
          hookQualifiers=(hash index=index)
          model=model
          onExpand=(action '_expand')
        }}
      {{/if}}

      {{#if onSelectionChange}}
        {{frost-list-item-selection
          hook=(concat hookPrefix '-selection')
          hookQualifiers=(hash index=index)
          model=model
          onSelect=(action '_select')
        }}
      {{/if}}

      {{component item
        hook=(concat hookPrefix '-item')
        hookQualifiers=(hash index=index)
        model=model
        onSelect=(action '_select')
      }}
    </div>

    {{#if model.isExpanded}}
      <div class='frost-list-item-container-expansion'>
        {{component itemExpansion
          hook=(concat hookPrefix '-item-expansion')
          hookQualifiers=(hash index=index)
          model=model
          onSelect=(action '_select')
        }}
      </div>
    {{/if}}
  </div>
{{else}}
  {{yield to="inverse"}}
{{/frost-list-content-container}}
<div class='frost-list-content-container-bottom-border {{if pagination 'paged'}}'></div>
