{{! Template for the frost-list component }}

<div class='frost-list-header {{if pagination 'paged'}}'>
  {{#if sorting}}
    {{component sorting
      hook=(concat hookPrefix '-sorting')
    }}
  {{/if}}

  <div class='frost-list-header-end'>
    {{#if pagination}}
      {{component pagination
        hook=(concat hookPrefix '-pagination')
      }}
    {{/if}}

    {{#if isHeaderDividerVisible}}
      <div class='frost-list-header-divider'></div>
    {{/if}}

    {{#if isExpandAllVisible}}
      {{frost-list-expansion
        hook=(concat hookPrefix '-expansion')
        onCollapseAll=(action '_collapseAll')
        onExpandAll=(action '_expandAll')
      }}
    {{/if}}
  </div>
</div>

<div class='frost-list-content-container-top-border {{if pagination 'paged'}}'></div>
{{#frost-list-content-container
  alwaysUseDefaultHeight=alwaysUseDefaultHeight
  bufferSize=bufferSize
  defaultHeight=defaultHeight
  hook=(concat hookPrefix '-contentContainer')
  items=_items
  itemKey=itemKey
  pagination=pagination
  scrollTop=scrollTop
  onLoadNext=onLoadNext
  onLoadPrevious=onLoadPrevious
  as |model index|
}}
  {{frost-list-item-content
    hook=(concat hookPrefix '-itemContent')
    hookQualifiers=(hash index=index)
    model=model
    index=index
    isAnyTypedItemExpansion=isAnyTypedItemExpansion
    item=(get itemDefinitions (get-typed-component-name componentKeyNamesForTypes itemTypeKey model 'itemName' 'default'))
    itemExpansion=(get-with-default itemExpansionDefinitions (get-typed-component-name componentKeyNamesForTypes itemTypeKey model 'itemExpansionName' 'default') undefined)
    onSelectionChange=onSelectionChange
    onExpand=(action '_expand')
    onSelect=(action '_select')
  }}
{{else}}
  {{yield to="inverse"}}
{{/frost-list-content-container}}
<div class='frost-list-content-container-bottom-border {{if pagination 'paged'}}'></div>
