<div class={{concat
    'frost-list-item-container'
    (if (eq index 0) ' first')
    (if (eq index (sub _items.length 1)) ' last')
    (if model.states.isSelected ' is-selected')
  }}
  data-test={{hook (concat hook '-item-container') index=index }}
>
  <div class='frost-list-item-container-base'>
    {{#if (and (or itemExpansion isTypedItemWithExpansion) (not isTypedItemWithoutExpansion))}}
      {{frost-list-item-expansion
        hook=(concat hookPrefix '-expansion')
        hookQualifiers=(hash index=index)
        model=model.content
        isExpanded=model.states.isExpanded
        onExpand=onExpand
      }}
    {{else if isAnyTypedItemExpansion}}
      <div class="item-expansion-placeholder"></div>
    {{/if}}

    {{#if onSelectionChange}}
      {{frost-list-item-selection
        hook=(concat hookPrefix '-selection')
        hookQualifiers=(hash index=index)
        model=model.content
        isSelected=model.states.isSelected
        onSelect=onSelect
      }}
    {{/if}}

    {{component itemComponent
      hook=(concat hookPrefix '-item')
      hookQualifiers=(hash index=index)
      model=model.content
      isExpanded=model.states.isExpanded
      isSelected=model.states.isSelected
      onSelect=onSelect
    }}
  </div>

  {{#if model.states.isExpanded}}
    <div class='frost-list-item-container-expansion'>
      {{component _itemExpansion
        hook=(concat hookPrefix '-itemExpansion')
        hookQualifiers=(hash index=index)
        model=model.content
        isExpanded=model.states.isExpanded
        isSelected=model.states.isSelected
        onSelect=onSelect
      }}
    </div>
  {{/if}}
</div>
