{{frost-list
class='frost-flex-1'
onSelect=(action 'selected')
records=listItems
selections=selectedItems
item=(component 'frost-list-item-binding' primaryId='id' secondaryId=(component 'secondary-component') svg=(component 'list-item-svg') detailLevel=activeDetailLevel)
firstBody=(component 'column-two')
secondBody=(component 'column-three')
thirdBody=(component 'column-four')
}}

<div class="actions">
  {{frost-button priority='primary' size='small' text='Update selected' onClick=(action 'updateHandler') disabled=isButtonActive.updateButton}}
  {{frost-button priority='primary' size='small' text='delete Selected' onClick=(action 'deleteHandler') disabled=isButtonActive.deleteButton}}
</div>

<div class="section">
    <div>Items in list: {{itemsInList}}</div>
    <div>Items in store: {{itemsInStore}}</div>
</div>