<div class='select-checkbox'>
    {{frost-list-selection-indicator isSelected=isSelected}}
</div>
<div class='icon'>
	{{frost-svg path='frost/network-element'}}
</div>
<div class='block alias'>
    <div class="primary alias">{{record.alias}}</div>
    <div class="tertiary status">{{record.meta.status}}</div>
</div>
<div class='block type'>
    <div class="secondary type">{{record.meta.type}} {{record.meta.release}}</div>
    <div class="tertiary location">&lt;Location&gt;</div>
</div>
<div class='block address'>
    <div class="secondary ip">{{record.meta.ip}}</div>
    <div class="tertiary mac">{{record.meta.mac}}</div>
</div>
