<div style="width: 250px; display: inline-block">
{{frost-select
  data=apiOptions
  disabled=selectionState.isApiSelectDisabled
  hook='apiState'
  selectedValue=selectionState.apiSelectionValue
  onChange=(action 'onSelectChangeHandler')
}}
</div>

<div style="width: 250px; display: inline-block">
{{frost-select
  data=mixinOptions
  disabled=selectionState.isMixinSelectDisabled
  selectedValue=selectionState.mixinSelectionValue
  onChange=(action 'onSelectChangeHandler')
}}
</div>

{{#if showCheckbox}}
  {{frost-checkbox
  checked=isSelectionChecked
  label='selection'
  disabled = true
  }}
  {{frost-checkbox
  checked=isExpansionChecked
  label='expansion'
  onInput=(action (mut isExpansionChecked) value='value')
  }}
  {{frost-checkbox
  checked=isSortingChecked
  label='sorting'
  onInput=(action (mut isSortingChecked) value='value')
  }}
{{/if}}

{{frost-button
  hook='renderButton'
  priority='primary'
  size='medium'
  text='Render'
  disabled=isButtonDisabled
  onClick=(action 'clickHandler')
}}