{{! frost-pagination }}

<div class='frost-pagination-left'>
  {{frost-button
    class='frost-pagination-button'
    disabled=_isLeftDisabled
    icon='double-chevron-left'
    onClick=(action onChange 0)
    priority='tertiary'
    size='small'
  }}
  {{frost-button
    class='frost-pagination-button'
    disabled=_isLeftDisabled
    icon='chevron-left'
    onClick=(action onChange (sub page 1))
    priority='tertiary'
    size='small'
  }}
</div>

<span class='frost-pagination-text'>
  {{_paginationText}}
</span>

<div class='frost-pagination-right'>
  {{frost-button
    class='frost-pagination-button'
    disabled=_isRightDisabled
    icon='chevron-left'
    priority='tertiary'
    size='small'
    onClick=(action onChange (add page 1))
  }}
  {{frost-button
    class='frost-pagination-button'
    disabled=_isRightDisabled
    icon='double-chevron-left'
    priority='tertiary'
    size='small'
    onClick=(action onChange (floor (div (sub total 1) itemsPerPage)))
  }}
</div>
