<div class='frost-flex-1'>
  <div class='frost-flex-1 no-overflow-all row'>
    <!--  Column One -->
    <div class="block start frost-flex-1">
      <div class="row">
        <div class='select-checkbox'>
          {{frost-list-selection-indicator isSelected=isSelected}}
        </div>
        <div class='ne-icon'>
          <svg class="frost-svg" viewBox="0 0 25 25" style="width:40px; height:40px; fill:  #7B7F7F !important;">
            <g>
              <rect x="2" y="4" width="22" height="20" rx="2" ry="2" style="fill:grey;stroke:black;opacity:0.5" ></rect>
              <text x="3" y="18" font-family="Verdana" font-size="6" style="text-align: center;"> {{model.resourceType}} </text>
            </g>
          </svg>
          <!--   <svg class="frost-svg" style="width:50px; height:50px; fill:  #7B7F7F !important;">
               {frost-node-svg
               x=15 y=15
               type=model.resourceType
               size='LARGE'
               onSelect=(action 'itemSelected')}}
           </svg> -->
        </div>
        <div class="block column">
          {{#if primaryId}}
            {{#if (is-string primaryId)}}
            <div class="row">
              <div class='primary'>{{get model primaryId}}</div>
            </div>
            {{/if}}
          {{/if}}
          {{#if secondaryId}}
          <div class='tertiary'>{{get model secondaryId}}</div>
          {{/if}}
        </div>
      </div>
    </div>


    <!--  Column Two -->
    <div class='block frost-flex-1'>
      {{component firstBody  model=model}}
    </div>
    <!--  Column Three -->
    <div class='block frost-flex-1'>
      {{component secondBody model=model}}
    </div>
    <!--  Column Four -->
    <div class='block frost-flex-1 last-col'>
      {{component thirdBody model=model}}      
    </div>
  </div>
</div>
