<!--  Column One -->
<div class="block start frost-flex-1">
    <div class="row">
        <div class='select-checkbox'>
          {{frost-list-selection-indicator isSelected=isSelected}}
        </div>
        <div class='icon'>
          <svg class="frost-svg" viewBox="0 0 25 25" style="width:40px; height:40px; fill:  #7B7F7F !important;">
            <g>
              <rect x="2" y="4" width="22" height="20" rx="2" ry="2" style="fill:grey;stroke:black;opacity:0.5" ></rect>
              <text x="3" y="18" font-family="Verdana" font-size="6" style="text-align: center;"> {{model.resourceType}} </text>
            </g>
            </svg>
        </div>
        <div class="block column">
            <div class='secondary'>
              {{model.node-name}}
            </div>
            <div class='primary'>
              {{model.native-condition-type}}
            </div>
        </div>
    </div>
</div>
<!--  Column Two -->
<div class='block frost-flex-1'>
    <div class='tertiary'>
        Primary id: {{model.id}}
        label: {{model.label}}
    </div>
</div>
<!--  Column Three -->
<div class='block frost-flex-1'>
    <div class='tertiary'>
        <span class='label'>Info:</span> {{model.additional-text}}
    </div>
</div>
<!--  Column Four -->
<div class='block end frost-flex-1'>
    <div class='secondary badge'>
      {{model.number-of-occurrences}}
    </div>
    <div class='secondary'>
        <span class='label'>Last raised:</span> <b>{{model.last-raise-time}}</b>
    </div>
  {{#if (eq detailLevel 'large')}}
      <div class='secondary'>
          <span class='label'>First raised:</span> <b>{{model.first-raise-time}}</b>
      </div>
      <div class='tertiary'>
        {{model.acknowledgeState}}
      </div>
  {{/if}}
</div>