<div class='frost-flex-1'>
  <div class='frost-flex-1 no-overflow-all row'>
    <!--  Column One -->
    <div class="block start frost-flex-1">
      <div class="row">
        <div class='select-checkbox'>
          {{frost-list-selection-indicator isSelected=isSelected}}
        </div>
        <div class='ne-icon'>
          {{component svg model=model}}
        </div>
        <div class="block column">
          {{#if primaryId}}
            {{#if (is-string primaryId)}}
            <div class="row">
              <div class='primary'>{{get model primaryId}}</div>
            </div>
            {{else}}
              {{component primaryId model=model}}
            {{/if}}
          {{/if}}
          {{#if secondaryId}}
            {{#if (is-string secondaryId)}}
                <div class='tertiary'>{{get model secondaryId}}</div>
            {{else}}
              {{component secondaryId model=model}}            
            {{/if}}
          {{/if}}
        </div>
      </div>
    </div>


    <!--  Column Two -->
    <div class='block frost-flex-1'>
      {{component firstBody  model=model}}
    </div>
    <!--  Column Three -->
    <div class='block frost-flex-1'>
      {{component secondBody model=model}}
    </div>
    <!--  Column Four -->
    <div class='block frost-flex-1 last-col'>
      {{component thirdBody model=model}}      
    </div>
  </div>
</div>
