<div class="dummy-infinite-scroll">
    <div class="dummy-list">
      {{frost-list
        componentPath
        class='frost-flex-1'
        records=listItems
        selections=selectedItems
        loadPrevious=(action 'loadPrevious')
        loadNext=(action 'loadNext')
        defaultHeight=60
        alwaysUseDefaultHeight=alwaysUseDefaultHeight
        scrollPosition=scrollPosition
        key=key
        idForFirstItem=idForFirstItem
        onSelect=(action 'selected')
      }}

        <div class="actions">
          {{frost-button priority='primary' size='small' text='Update selected' onClick=(action 'updateHandler') disabled=isButtonActive.updateButton}}
          {{frost-button priority='primary' size='small' text='delete Selected' onClick=(action 'deleteHandler') disabled=isButtonActive.deleteButton}}
          {{frost-button priority='primary' size='small' text='Fetch next 100' onClick=(action 'fetchNext')}}
        </div>
    </div>
    <div class="section">
        <div>Items in list: {{itemsInList}}</div>
        <div>Items in store: {{itemsInStore}}</div>
        <div>Offset for last fetch {{currentOffset}}</div>
        <div>Page size for last fetch {{currentPageSize}}</div>
    </div>
</div>
