<h3>Infinite scroll</h3>

<div class="dummy-infinite-scroll">
      {{frost-list
        alwaysUseDefaultHeight=alwaysUseDefaultHeight
        items=statefulListItems
        onSelect=(action 'selectItem')
        item=(component componentPath
          onCollapse=(action 'collapseItem')
          onExpand=(action 'expandItem')
        )
        loadPrevious=(action 'loadPrevious')
        loadNext=(action 'loadNext')
      }}

    <div class="info-section">
        <div class="info-section-description">Items in list:
          <div class="info-section-count">{{itemsInList}}</div>
        </div>

        <div class="info-section-description">Items in store:
            <div class="info-section-count">{{itemsInStore}}</div>
        </div>

        <div class="info-section-description">Offset for last fetch:
            <div class="info-section-count">{{currentOffset}}</div>
        </div>

        <div class="info-section-description">Page size:
            <div class="info-section-count">{{currentPageSize}}</div>
        </div>
    </div>
</div>
